ros2node.json
[
    {
        "id": "ff0dd24479deec2e",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad311a91c2854045",
        "type": "mqtt out",
        "z": "ff0dd24479deec2e",
        "name": "",
        "topic": "ros2_hello/msg",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "444afb9ce26e15c6",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ba160bc7a217a3a",
        "type": "ui_text_input",
        "z": "ff0dd24479deec2e",
        "name": "",
        "label": "輸入字串：",
        "tooltip": "",
        "group": "f6bbb112a0641685",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "4000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "cc8815758b0153b2",
                "ad311a91c2854045"
            ]
        ]
    },
    {
        "id": "cc8815758b0153b2",
        "type": "debug",
        "z": "ff0dd24479deec2e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "444afb9ce26e15c6",
        "type": "mqtt-broker",
        "name": "myNodeRed",
        "broker": "192.168.93.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "mqtt/node",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "現在已連接發布端",
        "birthMsg": {},
        "closeTopic": "mqtt/node",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "現在已斷開發布端",
        "closeMsg": {},
        "willTopic": "mqtt/node",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "意外斷開發布端",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6bbb112a0641685",
        "type": "ui_group",
        "name": "ros2_msg",
        "tab": "2a7bd2dea4f7d409",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a7bd2dea4f7d409",
        "type": "ui_tab",
        "name": "ROS2測試",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]