server_flows.json
[
    {
        "id": "ff0dd24479deec2e",
        "type": "tab",
        "label": "服務端",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80ea6501313a2ed0",
        "type": "mqtt out",
        "z": "ff0dd24479deec2e",
        "name": "",
        "topic": "/mqtt_goal_pose",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2384bcbf052293c1",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "9e0b95a625215505",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "回到待命點",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "656ca94e9abd07c2"
            ]
        ]
    },
    {
        "id": "656ca94e9abd07c2",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=-6.0;\nvar y=0.0;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "80ea6501313a2ed0",
                "da6dad2ca6de26be"
            ]
        ]
    },
    {
        "id": "da6dad2ca6de26be",
        "type": "debug",
        "z": "ff0dd24479deec2e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "944acafe7219e141",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "1桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "fab7fee76e8aed3a"
            ]
        ]
    },
    {
        "id": "fab7fee76e8aed3a",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=-1.5;\nvar y=0.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "80ea6501313a2ed0",
                "da6dad2ca6de26be"
            ]
        ]
    },
    {
        "id": "d7704c448c4c28ce",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "2桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "1d846ca7d6c24247"
            ]
        ]
    },
    {
        "id": "1d846ca7d6c24247",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=0.5;\nvar y=0.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "373b1aac8ad75ee2",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "3桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "37e8b19c19972281"
            ]
        ]
    },
    {
        "id": "37e8b19c19972281",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=2.5;\nvar y=0.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 280,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "2a940f55f6026fb5",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "4桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "386568afaac15b65"
            ]
        ]
    },
    {
        "id": "386568afaac15b65",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=-1.5;\nvar y=-1.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "4ca7acc29b7971f2",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "5桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "6040517df4fb93fd"
            ]
        ]
    },
    {
        "id": "6040517df4fb93fd",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=0.5;\nvar y=-1.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "27b6bedb666d523c",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "6桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "668f9b760e2b36a7"
            ]
        ]
    },
    {
        "id": "668f9b760e2b36a7",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=2.5;\nvar y=-1.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "85b1f8690e2f91df",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "內1桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "f32791773e8dc6e1"
            ]
        ]
    },
    {
        "id": "f32791773e8dc6e1",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=6.0;\nvar y=-4.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "80ea6501313a2ed0",
                "da6dad2ca6de26be"
            ]
        ]
    },
    {
        "id": "f2924c9d9a183042",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "內2桌",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "530c15a2b9dfa96e"
            ]
        ]
    },
    {
        "id": "530c15a2b9dfa96e",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=6.0;\nvar y=-1.5;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "da6dad2ca6de26be",
                "80ea6501313a2ed0"
            ]
        ]
    },
    {
        "id": "1ae98e678d750111",
        "type": "inject",
        "z": "ff0dd24479deec2e",
        "name": "充電",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "78e20350bfe6e985"
            ]
        ]
    },
    {
        "id": "78e20350bfe6e985",
        "type": "function",
        "z": "ff0dd24479deec2e",
        "name": "xyz",
        "func": "var x=-2.3;\nvar y=3.8;\nvar z=0.0;\nmsg.payload=x+\",\"+y+\",\"+z;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 120,
        "wires": [
            [
                "80ea6501313a2ed0",
                "da6dad2ca6de26be"
            ]
        ]
    },
    {
        "id": "6729884381207146",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "f6bbb112a0641685",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "1桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "fab7fee76e8aed3a"
            ]
        ]
    },
    {
        "id": "4d86ad84ed90976b",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "f6bbb112a0641685",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "2桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "1d846ca7d6c24247"
            ]
        ]
    },
    {
        "id": "d3359804a99fb8a0",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "f6bbb112a0641685",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "3桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "37e8b19c19972281"
            ]
        ]
    },
    {
        "id": "ed7a774e42e3ab2d",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "9ea1d5715ecd3cde",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "4桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "386568afaac15b65"
            ]
        ]
    },
    {
        "id": "1240bd0054a7a119",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "9ea1d5715ecd3cde",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "5桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "6040517df4fb93fd"
            ]
        ]
    },
    {
        "id": "5fbdeee26ca69f18",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "9ea1d5715ecd3cde",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "6桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "668f9b760e2b36a7"
            ]
        ]
    },
    {
        "id": "4a49c662bd8c67c0",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "f6bbb112a0641685",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "內1桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "f32791773e8dc6e1"
            ]
        ]
    },
    {
        "id": "d8d6c5a6eafa0212",
        "type": "ui_button",
        "z": "ff0dd24479deec2e",
        "name": "",
        "group": "9ea1d5715ecd3cde",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "內2桌",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "530c15a2b9dfa96e"
            ]
        ]
    },
    {
        "id": "2384bcbf052293c1",
        "type": "mqtt-broker",
        "name": "pub2ros2",
        "broker": "192.168.93.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6bbb112a0641685",
        "type": "ui_group",
        "name": "餐桌區1",
        "tab": "2a7bd2dea4f7d409",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ea1d5715ecd3cde",
        "type": "ui_group",
        "name": "餐桌區2",
        "tab": "2a7bd2dea4f7d409",
        "order": 3,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a7bd2dea4f7d409",
        "type": "ui_tab",
        "name": "ROS2服務端",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]